/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #fafafa;
    font-family: 'Lato', sans-serif;
}

/* Navigation */
.header {
    background-color: #7D6E83;
    width: 15vw;
    height: 100vh;
}

.link {
    list-style: none;
    color: #fafafa;
    margin: 4px;
    padding: 4px;
    cursor: pointer;
}
.link:hover {
    color: #D0B8A8;
}

a {
    text-decoration: none;
}

/* Content */
.main {
    width: 85vw;
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
}

.not-view {
    display: none !important;
}

.view {
    display: block;
}

.title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.content-description {
    width: 90%;
    background-color: #F5EFE6;
    padding: 15px;
    border-radius: 30px;
    margin-inline: auto;
    margin-block-end: 20px;
}

/* HISTORY */
.list-history {
    padding-left: 40px;
}

.image-history {
    display: block;
    object-fit: contain;
    width: 500px;
    height: 380;
    margin-inline: auto;
    margin-block: 10px;
    border-radius: 20px;
}

.image-history:hover {
    width: 505px;
    height: 385;
    transition: 0.5s;
    cursor: pointer;
}

/* PRODUCTS */
.product {
    width: 70%;
    background-color: #F5EFE6;
    padding: 10px;
    border-radius: 30px;
    margin-inline: auto;
    margin-block-end: 20px;
    width: 570px;
    height: 430px;
    transition: box-shadow 0.5s;
}

.product:hover {
    cursor: pointer;
    box-shadow: 0 0 11px #7D6E83; 
}

.list-products {
    padding-left: 40px;
}

.image-product {
    display: block;
    object-fit: contain;
    width: 300px;
    height: 300px;
    margin-inline: auto;
    margin-block: 10px;
    border-radius: 20px;
}

.image-product:hover {
    width: 305px;
    height: 305px;
    transition: 0.5s;
    cursor: pointer;
}

/* SERVICE */
.image-service {
    display: block;
    object-fit: contain;
    width: 430px;
    margin-inline: auto;
    margin-block: 10px;
    border-radius: 20px;
}

.image-service:hover {
    width: 435px;
    transition: 0.5s;
    cursor: pointer;
}

.contact-service {
    color: #7D6E83;
    font-weight: bold;
    text-decoration: underline;
}

.contact-service:hover {
    color: #544958;
}

.subtitle-service {
    color: #7D6E83;
    font-weight: bold;
    font-size: 20px;
}

.options-service {
    padding-left: 30px;
}